{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block body %}
    <style>


.form-control{
    width: 22%!important;
}
.btn{
    color:white!important;
    background: #0b0b0b!important;
}
.btn:hover{
    color: white!important;
    background: darkgreen!important;
}
 input.form-control .input-sm {
    height: 30px!important;
    padding: 5px 10px!important;
    font-size: 12px!important;
    line-height: 1.5!important;
    width: 190px!important;
    border-radius: 3px!important;
}
label {

    width: 100%!important;
}
div.dataTables_filter {
    text-align: left!important;
}
    </style>

    <div class="content">
        <div class="container">

        </div>
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="pull-left page-title">Search Author's Publication</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="../authorpubs">Search Author's Publication</a></li>
                </ol>
            </div>
        </div>
        <div class="row " style="margin-bottom: 20px">
            <div class="col-sm-12" >
                <form method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" name="search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" style="visibility: hidden" type="submit">Search</button>
                </form>


            </div>
          <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Author's Publications</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <table id="datatable" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Publication Titles</th>
                                                        </tr>
                                                    </thead>


                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- End Row -->


        </div> <!-- container -->

    </div> <!-- content -->



    <script>

        fetch('authors')
            .then(response => response.json())
            .then(result => {
                var json_data = JSON.parse(result["d"]);
                $(document).ready(function () {
                    $('#datatable').DataTable({
                        data: json_data,
                        {#bLengthChange: true,#}
                        {#lengthChange:false,#}
                        dom:'Bfrtip',
                        buttons : [],
                        language: {
                        searchPlaceholder: "Search Author's Publications",
                        search: '<i style="font-size: 20px;margin-right: 10px" class="fa fa-search" aria-hidden="true"></i>'
                    },
                        searching : true,
                        columns: [
                            {data: "publication_titles"}
                        ]
                    });
                });
            })

    </script>



{% endblock body %}
