{% extends "header.html" %}

{% block title %}Dashboard{% endblock %}


{% block body %}
<div class="row">
                
    <div class="col-md-12">

        

        <div class="col-md-2">
                        <div class="mini-stat clearfix bx-shadow bg-white">
                           
                            <div class="mini-stat-info text-right text-dark">
                                {% if outlet_count %}
                                <span class="counter text-dark">{{outlet_count}}</span>
                                {% endif %}
                            </div>
                            <h4>Total Outlet Count</h4>
                        </div>
        </div>
    </div>
{% endblock %}

